dataset/
training2/
training/
test.tfrecord
val.tfrecord
train.tfrecord
mobilenet_v1_100_224/
mobileNetv2/
idea/
currency_dataset_new.zip
practise.py
training3/
test_data (copy).txt
train_data (copy).txt
network_backup.py
